@model SportsStore.Domain.Entities.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-3">
	<div class="card">
		<div class="card-header">
			<h2>Edit @Model.Name</h2>
		</div>
		@using (Html.BeginForm("Edit", "Admin"))
		{
			<div class="card-body">
				@Html.HiddenFor(m => m.ProductId)

				@foreach (var property in ViewData.ModelMetadata.Properties)
				{
					if (property.PropertyName != "ProductId")
					{
						<div class="mb-3">
							<label class="form-label">
								@(property.DisplayName ?? property.PropertyName)
							</label>
						@if (property.PropertyName == "Description") 
						{
							@Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 5 })
						}
						else
						{
							@Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
						}
						
						@Html.ValidationMessage(property.PropertyName)

						</div>
					}
				}
			</div>
			<div class="card-footer">
				<input type="submit" value="Save" class="btn btn-primary"/>
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning" })
			</div>
		}
		</div>
</div>
