@model SportsStore.Domain.Entities.ShippingDetails

@{
	ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<p>Please enter your details and we'll ship your items right away!</p>

@using (Html.BeginForm())
{
	@Html.ValidationSummary()
	<h3>Ship to </h3>
	<div class="form-group">
		<label>Name:</label>
		@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
	</div>

	foreach (var property in ViewData.ModelMetadata.Properties)
	{
		if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
		{
			<div class="form-group">
				<label>@(property.DisplayName ?? property.PropertyName)</label>
				@Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
			</div>
		}

	}

	<h3>Options</h3>
	<div class="checkbox">
		@Html.CheckBoxFor(x => x.GiftWrap)
		Gift wrap these items
	</div>
	<div class="text-center">
		<input class="btn btn-primary" type="submit" value="Complete order" />
	</div>
}
